#img-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

#img-container img{
    position: relative;
}

#img-container :nth-child(1){
    width: 57vw;
    left: -25%;
    top: -35%;
}
#img-container :nth-child(2){
    width: 17vw;
    left: 25%;
    top: -25%;
}
#img-container :nth-child(3){
    width: 40vw;
    left: -2%;
    top: -20%;
}
#img-container :nth-child(4){
    width: 27vw;
    left: 30%;
    top: -35%;
}


.content{
    display: none;
    padding: 0 30%;
    height: 100vh;

    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn.active{
    background-color: #4f200d;
    color: #fff;
}

.content.active{
    display: flex;
}

.question{
    color: white;
}

.h-container{
    margin-top: 10%;
}


.b-container{
    width: 100%;
    position: relative;
    margin-top: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 100%;
    height: 10px;

    margin: 40px 0 40px 0;

    -webkit-appearance: none;

    appearance: none;
    outline: none;

    border-radius: 5px;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 25px;
    height: 25px;
    background: #4f200d;
    cursor: pointer;
    border-radius: 50%;
}

#slider-container p{
    color: #fff;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#loading-spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #4f200d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}