.content{
    display: none;
    padding: 0 30%;
    height: calc(100vh - 60px);

    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn.active{
    background-color: #4f200d;
    color: #fff;
}

.content.visible{
    display: flex;
}

.question{
    color: white;
}

.h-container{
    margin-top: 10%;
}


.b-container{
    width: 100%;
    position: relative;
    margin-top: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 100%;
    height: 10px;

    margin: 40px 0 40px 0;

    -webkit-appearance: none;

    appearance: none;
    outline: none;

    border-radius: 5px;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 25px;
    height: 25px;
    background: #4f200d;
    cursor: pointer;
    border-radius: 50%;
}

#slider-container p{
    color: #fff;
}
  