{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel = "stylesheet" href = "{%static 'css/search.css'%}">
{% endblock head %}

{% block title %}モグマッチ｜検索{% endblock title %}

{% block logo %}
<a href="{% url 'gsapp:index' %}" class="logo-container">
    <img src="{% static 'images/logo.svg' %}" alt="モグマッチ" id = "logo">
</a>{% endblock logo %}

{% block content %}


<div id="food-img-container">
    <img src="{% static 'images/chinese_food.png' %}" alt="">
    <img src="{% static 'images/potato.png' %}" alt="">
    <img src="{% static 'images/italian.png' %}" alt="">
    <img src="{% static 'images/yakitori.png' %}" alt="">
</div>

<div id="genre" class = "content active">
    <p class = "bold" style = "color: white;">何を食べたいですか？</p>
    <div class="flex-btn-container">
        <a class = "btn btn-genre" href="">居酒屋</a>
        <a class = "btn btn-genre" href="">ダイニングバー・バル</a>
        <a class = "btn btn-genre" href="">創作料理</a>
        <a class = "btn btn-genre" href="">和食</a>
        <a class = "btn btn-genre" href="">洋食</a>
        <a class = "btn btn-genre" href="">中華</a>
        <a class = "btn btn-genre" href="">イタリアン・フレンチ</a>
        <a class = "btn btn-genre" href="">韓国料理</a>
        <a class = "btn btn-genre" href="">焼肉・ホルモン</a>
        <a class = "btn btn-genre" href="">アジア・エスニック料理</a>
        <a class = "btn btn-genre" href="">ラーメン</a>
        <a class = "btn btn-genre" href="">カフェ・スイーツ</a>
        <a class = "btn btn-genre" href="">こだわらない</a>
    </div>
    <button href="" class="btn next">次へ</button>
</div>
<div id="budget" class = "content">
    <p style="color:white;"class = "bold">予算はどれくらいですか？（2つまで選択可能）</p>
    <div class="flex-btn-container">
        <a class = "btn btn-budget" href="">〜500円</a>
        <a class = "btn btn-budget" href="">500〜1000円</a>
        <a class = "btn btn-budget" href="">1000〜1500円</a>
        <a class = "btn btn-budget" href="">1500〜2000円</a>
        <a class = "btn btn-budget" href="">2000〜3000円</a>
        <a class = "btn btn-budget" href="">3000〜4000円</a>
        <a class = "btn btn-budget" href="">4000〜5000円</a>
        <a class = "btn btn-budget" href="">5000〜7000円</a>
        <a class = "btn btn-budget" href="">7000〜10000円</a>
        <a class = "btn btn-budget" href="">10000〜15000円</a>
        <a class = "btn btn-budget" href="">15000〜20000円</a>
        <a class = "btn btn-budget" href="">20000〜30000円</a>
        <a class = "btn btn-budget" href="">30000円〜</a>
        <a class = "btn btn-budget" href="">こだわらない</a>
    </div>
    <button href="" class="btn next">次へ</button>
</div>
<div id="range" class = "content">
    <p style="color:white" class = "bold">現在地からの距離</p>

    <div id="slider-container">
        <input type="range" min="300" max="3000" value="1000" class="slider" id="myRange">
    </div>
    <button href="" id="search" class = "btn next">検索</button>
</div>

<div id="loading" class = "content">
    <div id="loading-spinner"></div>
</div>

{% endblock content %}

{% block js %}

<script type="text/javascript">

    //距離の変換
    function conversion_range(value){
        if(value<=300){
            range = "1";
        }else if(value>300 && value <= 500){
            range = "2";
        }else if(value>500 && value <= 1000){
            range = "3";
        }else if(value>1000 && value <= 2000){
            range = "4";
        }else if(value>2000 && value <= 3000){
            range = "5";
        }
        return range
    }

    //位置情報取得とurl作成後リダイレクト
    function get_location_and_redirect(genre_list, budget_list, range){
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(function(position){
                const lat = position.coords.latitude;
                const lng = position.coords.longitude;

                const genre_str = "genre=" + encodeURIComponent(genre_list.join(","));
                const budget_str = "&budget=" + encodeURIComponent(budget_list.join(","));
                const range_str = "&range=" + encodeURIComponent(range);
                const location_str = "&lat=" + encodeURIComponent(lat) + "&lng=" + encodeURIComponent(lng);

                const url = "/gourmet_list?" + genre_str + budget_str + range_str + location_str;
                window.location.href = url;

            },function(error){
                alert("位置情報を取得できませんでした。")
                window.location.href = "";
            });
        }else{
            window.location.href = "";
        }
    }

    //(m)→(km)
    function convert_km(value){
        const km = value / 1000;
        return km + "km";
    }

    // 徒歩の際のかかる時間の目安
    function convert_walking(meters){
        //平均的な歩行速度80m/min
        const speed = 80;
        walking_time = meters / speed;
        return Math.round(walking_time);

    }


    // --------スライダー-----------

    const slider = document.getElementById("myRange");
    const output = document.createElement("p");
    if(slider.value < 1000){
        output.textContent = slider.value + "m(徒歩" + convert_walking(slider.value) + "分)";
    }else{
        output.textContent = convert_km(slider.value) + "(徒歩" + convert_walking(slider.value) + "分)";
    }
    slider.oninput = function() {
        if(this.value < 1000){
            output.textContent = this.value + "m(徒歩" + convert_walking(this.value) + "分)";
        }else{
            output.textContent = convert_km(this.value) + "(徒歩" + convert_walking(this.value) + "分)";
        }
    };
    document.getElementById("slider-container").appendChild(output);

    //-----------------------------

    btn_list = [
        document.getElementsByClassName("btn-genre"), //ジャンル
        document.getElementsByClassName("btn-budget"), //予算
    ]
    genre = {
        "居酒屋": "G001",
        "ダイニングバー・バル": "G002",
        "創作料理": "G003",
        "和食": "G004",
        "洋食": "G005",
        "イタリアン・フレンチ": "G006",
        "中華": "G007",
        "焼肉・ホルモン": "G008",
        "アジア・エスニック料理": "G009",
        "ラーメン": "G013",
        "カフェ・スイーツ": "G014",
        "韓国料理": "G017",
        "こだわらない": "",
    };
    
    budget = {
        "〜500円": "B009",
        "500〜1000円": "B010",
        "1000〜1500円": "B011",
        "1500〜2000円": "B001",
        "2000〜3000円": "B002",
        "3000〜4000円": "B003",
        "4000〜5000円": "B008",
        "5000〜7000円": "B004",
        "7000〜10000円": "B005",
        "10000〜15000円": "B006",
        "15000〜20000円": "B012",
        "20000〜30000円": "B013",
        "30000円〜": "B014",
        "こだわらない": "",
    };
    

    //btnのactive, deactive処理
    for(let i = 0; i < btn_list.length; i ++){ //2回
        for(let j = 0; j < btn_list[i].length; j ++){
            btn_list[i][j].addEventListener("click", e => {
                e.preventDefault();
                let activeButtons = document.querySelectorAll('.btn-budget.active');
                if(btn_list[i][j].classList.contains("active") == true){
                    btn_list[i][j].classList.remove("active");
                }else if(activeButtons.length < 2){
                    btn_list[i][j].classList.add("active");
                }
            });
        }
    }

    // 画面の遷移
    const contents = document.getElementsByClassName("content") //0:genre, 1:budget, 2:range
    const btn_next = document.getElementsByClassName("next");
    const btn_search = document.getElementById("search");

    var state = 0;

    var genre_list = [];
    var budget_list = [];

    //「次へ」ボタンの処理
    for(i = 0; i < btn_next.length; i ++){
        btn_next[i].addEventListener("click", e => {
            e.preventDefault();
            contents[state].classList.remove("active");
            state += 1;
            contents[state].classList.add("active");
        });
    };

    // 「検索」ボタン処理
    btn_search.addEventListener("click", e => {
        for(let i = 0; i < btn_list.length; i ++){
            for(let j = 0; j < btn_list[i].length; j ++){
                if(btn_list[i][j].classList.contains("active") == true){
                    if(i == 0){ //genre
                        let genreName = btn_list[i][j].textContent;
                        genre_list.push(genre[genreName]);
                    }else{ //budget
                        let budgetName = btn_list[i][j].textContent;
                        budget_list.push(budget[budgetName]);
                    }
                }
            }
        }
        var range = conversion_range(slider.value);
        get_location_and_redirect(genre_list, budget_list, range)
    })

</script>

{% endblock js %}